pymongo==3.10.1
flask==2.3.2
datetime==4.3
pytz==2020.1
pandas==1.2.0
seaborn==0.10.1
dill==0.3.3
# Don't set a specific version in dependencies in bellow,
# they are used directly by user on API request.
scikit-learn
tensorflow